body
{
background-color:#fff;
margin:0 0 1em 0;
padding:0.3em;
color:#000;
}

body,input,textarea,select,option {
font-family: Verdana, Helvetica, sans-serif;
}

body, td, input, textarea, select {
font-size: 90%;
}

ul#toolbar {
font-size: 0.8em;
}

img
{
border-width: 0;
}

a
{
color: #008;
}

a:hover
{
color: #F70;
}

th
{
font-size:0.8em;
color: #fff;
background-color:#888;
font-variant:small-caps; 
padding: 1px 3px; 
}

th a
{
color: #fff;
}

input,
textarea
{
padding: 2px;
}

input,
textarea,
select,
option
{
border: inset 1px #ddd;
background-color: #f5f5f5;
}

input.input-checkbox
{
border-width:0;
background-color: transparent;
}

input.input-submit
{
border: outset 1px #DDD;
background-color:#444;
color: #fff;
padding:0.1em;
margin: 0 1em 0 0;
}

input[type=submit],
input[type=button],
input[type=reset]
{
border: outset 1px #bbb;
background-color:#444;
color: #fff;
padding:0.1em;
margin: 0 1em 0 0;
}

input.input-submit:hover
{
background-color: #666;
}

input.input-submit:active {
border-style:inset;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover
{
background-color: #666;
}

option.all {
font-style:italic;
}

hr
{
height: 1px;
color: #ccc;
background-color: #ccc;
border-style: none;
margin: 0.6em 0;
}

h1
{
font-size: 1.6em;
margin: 0.4em 0 0.2em 0;
}

h2
{
font-size: 1.4em;
margin: 1em 0 0 0;
}

h3
{
font-size: 1em;
margin: 1em 0 0 0;
}

h4
{
margin:0.2em 0 0 0;
}

h4.related
{
font-size:0.9em;
clear:left;
padding-top:1em;
}

.box h2
{
margin-top: 0;
}

pre
{
margin:1em;
border:dashed 1px #ccc;
padding:1em;
font-size:0.9em;
float:left;
}


/* LISTS */

ul
{
margin: 0.3em;
padding: 0;
list-style-type: none;
}

.box li
{
background: transparent url(/images/li3.gif) no-repeat left;
padding-left: 11px;
background-position: 0 0.3em;
}

.box li ul {
margin: 0;
padding: 0;
font-size:0.85em;
}

li.selected
{
font-weight:bold;
}

ul.tree
{
margin: 0.5em 1em;
}

ul.tree li ul.tree
{
margin-left:2em;
}

ul.tree li
{
background:none;
padding:0;
margin-bottom:0.5em;
}

ul.tree .subitems
{
margin:0 0 0 2em;
font-size:0.8em;
font-style:italic;
color:#666;
}

ul.tree .subitems a {
color:#666;
}

ul.tree .subitems a:hover {
color:#f70;
}

ul.msg
{
margin: 1em 0;
background-color: #fda;
padding: 3px;
border: solid 1px #da8;
list-style: none;
}

ul.msg li
{
margin: 0.4em;
background: none;
padding:0;
}

ul.tabs
{
margin: 1em 0 1em 0;
padding: 0 0 5px 5px;
list-style-type: none;
border-left: solid 1px #aaa;
border-bottom: solid 1px #aaa;
}

ul.tabs li
{
display: inline;
padding: 2px 4px;
margin: 0 5px 0 0;
background: #ddd;
}

ul#toolbar
{
margin: 1em 0;
padding: 0;
list-style-type: none;
}

ul#toolbar li
{
display: inline;
padding: 0;
margin: 0;
}

ul#toolbar li a
{
padding: 0.2em 0.4em;
margin: 0 0.5em 0 0;
border:outset 1px #bbb;
background: #ddd;
text-decoration: none;
color:#000;
}

ul#toolbar li a:hover
{
background-color: #aaa;
color:#fff;
}

ul#toolbar li a:active
{
border-style:inset;
}

/* STRUCTURE */

#main 
{ 
width: 100%; 
min-width: 980px; 
max-width:1200px;
}

#head
{
width: 100%;
}

#main-content
{
clear: both;
margin: 0.2em 0 2em 0;
}

#nav
{
float: left;
width: 15%;
}

#content
{
margin-left: 17%;
}


/* TOP BAR */

#custom-logo
{
float: left;
}

#phpeace-logo
{
float: right;
}

#maintitle
{
clear: both;
background-color: #5A5284;
color: #ddd;
font-variant: small-caps;
font-size:0.9em;
padding: 0.1em 1em;
margin: 0;
}

#maintitle a
{
color: #9ff;
text-decoration: none;
}

#maintitle a:hover
{
color: #f70;
text-decoration: underline;
}

#user-info
{
float: left;
width:50%;
}

#phpeace-version
{
margin-left:50%;
text-align:right;
}

/* LEFT MENU */

#nav
{
background-color: #eee;
padding: 0.5em 0.5em 1em 0.5em;
border-right: solid 3px #ddd;
}

ul#modules
{
margin: 0;
padding: 0;
list-style-type: none;
}

ul#modules li
{
border-top:solid 1px #ddd;
background: transparent url(/images/li1.gif) no-repeat left;
padding-left: 11px;
background-position: 0 0.2em;
}

ul#modules li:hover
{
background-color:#dee;
}

ul#modules li a
{
text-decoration:none;
}

ul#modules li a:hover
{
text-decoration:underline;
}

ul#modules li.selected
{
background-color:#dee;
font-weight:bold;
}

ul#topics-groups li.topic-group
{
padding:0;
background:none;
border-top:solid 1px #ddd;
font-style:italic;
}

ul.topics
{
margin: 0;
padding: 0 0 0.3em 0;
font-weight:normal;
list-style-type: none;
}

ul#topics-groups li
{
font-style:normal;
border-width:0;
background: transparent url(/images/li2.gif) no-repeat left;
padding-left: 13px;
background-position: 0 2px;
}

ul.topics ul
{
margin: 0;
padding: 0;
list-style-type: none;
font-size:0.8em;
}

ul#topics-groups li.selected li,
ul li,
.box li ul li
{
font-weight: normal;
background: transparent url(/images/li4.gif) no-repeat left;
padding-left: 11px;
background-position: 0 0.2em;
}

#nav ul.msg
{
font-weight: bold;
text-align:center;
margin-top:0;
}

#nav .notes
{
font-size: 0.8em;
}

#content .notes
{
font-style: italic;
margin-left:1em;
font-size: 0.8em;
}

/* BREADCRUMB */

.breadcrumb
{
font-size: 1.1em;
background-color: #EEEAFA;
padding: 2px 7px;
margin-bottom: 0.5em;
color: #008;
}

.breadcrumb a
{
color: #008;
text-decoration: none;
}

.breadcrumb a:hover
{
color: #F70; 
text-decoration: underline;
}


/* FOOTER */

#phpeace-disclaimer
{
clear: both;
padding: 0.5em;
font-size: 0.8em;
border-top: solid 2px #ddd;
text-align: center;
color: #444;
}

#phpeace-disclaimer a
{
color: #444;
}

#phpeace-disclaimer a:hover
{
color: #F70;
}


/* TABLES */

td.counter
{
color: #333;
background-color: #ddd;
text-align: right;
}

.input-label
{
width: 20%;
text-align:right;
}

.non-public
{
color:#444;
font-style:italic;
}

.pager
{
color: #666;
text-align: right;
}

.row0
{
background-color: #FFF;
}

.row1
{
background-color: #eef;
}

.right
{
text-align:right;
}


/* FORMS */

.input-link
{
padding: 2px;
color: #444;
border: solid 1px #DDD;
background-color: #FFF;
}

.input-note
{
font-style: italic;
}

.input-separator
{
background-color:#ddd;
color: #333;
padding-left: 2px;
}


/* VARIA */

.box, .box2, .box2b, .box2c
{
float: left;
width: 26%;
margin: 1em 1em 1em 0;
background-color: #EEE;
border: solid 1px #ccc;
padding: 0.5em;
overflow:auto;
}

.box2
{
width:80%;
}

.box2b
{
width:52%;
}

.box2c
{
width:40%;
}

.inactive
{
padding: 3px;
background-color: #EEE;
color: #666;
}

.off
{
color: #888;
}

.new {
font-size:0.8em;
font-weight:bold;
color:#d00;
}

a.to-approve {
color:#54f;
}

.popup-tree
{
margin: 1em 2em; 
}

.popup-tree p
{
text-align:center;
}

.code-info {
margin:1em 0;
}

.code-box
{
background-color: #ffc;
border: inset 1px #EEEE90;
overflow:auto;
margin-left:1em;
padding: 1px 3px;
}

.indent
{
margin-left: 2em;
}

.warning {
color:#CC0000;
font-weight:bold;
}

div.error
{
color: #A00;
padding: 1em;
}

input.error,
textarea.error {
border:1px dotted #A00;
background-color:#F5E5E5;
}

label.error {
color: #A00;
font-style:italic;
font-weight:bold;
display:block;
margin-left:10px;
width:auto;
}

span.error {
color: red;
font-weight:bold;
}

.center
{
text-align:center;
}

.item
{
margin-bottom:16px;
}

/* ARTICLE PAGE */

td.buttons input
{
float:left;
font-size:0.8em;
text-transform:uppercase;
margin: 0.3em;
padding:0.1em;
border: outset 1px #DDD;
color:#fff;
background-color: #999;
}

td.buttons input:hover
{
background-color: #aaa;
}

ul.article-boxes,
ul.article-images,
ul.article-docs,
ul.article-related,
ul.image-params,
ul.box-params
{
list-style: none;
padding:0;
margin:0;
}

ul.article-boxes li,
ul.article-images li,
ul.article-docs li,
ul.article-related li
{
background:none;
margin: 0.2em 0;
padding:0.5em;
border:solid 1px #ccc;
float:left;
clear:left;
}

ul.article-images li .input-radio,
ul.article-images img,
ul.article-images .flash 
{
float:left;
}

ul.article-images li.associated
{
background-color:#F1FF97;
}

ul.article-images .code-box,
ul.article-boxes .code-box
{
font-size:1.1em;
}

ul.image-params,
ul.box-params
{
margin-left:110px;
}

ul.image-params li,
ul.box-params li
{
float:none;
clear:none;
margin:0.2em 0;
padding:0;
font-size:0.8em;
border-width:0;
}

.approved0
{
font-weight:bold;
color:#b00;
}

.approved1
{
font-weight:bold;
color:#0b0;
}

/* SUBTOPIC PAGE */

#type_item {
display:inline;
}

#type_item .subitem {
padding-bottom:4px;
}

#type_item .subitem label {
float:left;
width:120px;
text-align:right;
font-style:italic;
font-size:0.9em;
padding-right:4px;
padding-top:3px;
}

#type_item select,
#type_item input {
}

td.doc_cover img {
box-shadow: 8px 8px 5px #888888;
border:solid 1px #888888;
}

/* FRONTPAGE */

#welcome
{
margin:1em 0;
}

#no_more_ie6
{
float: right;
width:30%;
font-size:0.9em;
padding:0.5em;
margin: 1em;
border: 1px solid #aaa;
background-color: #FFC;
}

#ad img
{
margin: 0.5em;
float:left;
}

/* MODULES */

ul#modules-user
{
float:left;
width:120%;
}

ul#modules-user li
{
clear:left;
}

ul#modules-user li:hover
{
background-color:#eef;
}

ul#modules-user li label
{
float:left;
width:10em;
}

ul#modules-user li input
{
float:left;
}

li.mod-open0
{
font-style:italic;
color:#888;
}


/* LABELS */

ul.labels
{
list-style: none;
margin:1em 0;
width:95%;
float:left;
}

ul.labels li
{
margin:0;
padding-bottom:0.3em;
clear:both;
font-size:0.8em;
background:none;
border:solid 1px white;
}

ul.labels li .label-key
{
float:left;
width:20%;
text-align:right;
}

ul.labels li .label-value
{
margin-left:21%;
}

ul.labels li .label-value a
{
text-decoration: none;
color:#444;
}

ul.labels li .label-value a em
{
font-weight:bold;
font-style:normal;
color:#a00;
}

ul.labels li .label-value a:hover
{
text-decoration: underline;
color:#00f;
}

/* SCHEDULER SLOTS */
ul.slots li .time
{
font-weight:bold;
}

ul.slots li ul li
{
margin:0.5em;
}


/* DB RESOURCES */

#categories ul li
{
background:none;
padding:0.2em 1em;
}

.box #categories ul li ul {
font-size:1em;
}


/* ADMIN */

#admin-text
{
float: left;
width: 13%;
}

.admin-text
{
background-color: #fdd;
padding: 0.5em;
margin:0 1%;
border: solid 2px #900;
}

.admin-text h2 
{
color:#900;
margin:0 0 0.5em 0;
text-align:center;
font-size:1.3em;
}

/* HELP */

#help {
background-color:#def;
margin: 2em 0.5em 05em 1em;
float:right;
width:15%;
overflow:auto;
border:dotted 1px #00a;
display:none;
}

#help-title {
background-color:#fff;
padding:0.1em 0.3em;
text-align:right;
}

#help-title:hover {
background-color:#eef;
}

#help-title a {
text-decoration:none;
}

#help-title img {
margin: 1px 5px;
float:right;
width:14px;
}

#help-content {
padding:0.5em;
display:none;
border-top:dotted 1px #00a;
font-size:0.8em;
}

#session-info {
overflow:auto;
}

ul.errors li {
margin-bottom:0.5em;
}

ul.errors li .error-type {
font-size:0.8em;
}

.mod-gate pre {
font-size:1.2em;
}

.release-notes {
font-size:0.9em;
padding:0.5em 2em;
margin-top:1em;
border-top:1px dashed #666;
}