#preview-toolbar {
font-family: Arial, sans-serif;
font-size:0.7em;
margin:0 0 1em 0;
padding:0.2em 0.5em;
border: 0.5px solid #ccc;
background-color: #eee;
text-align:left;
color:#000;
}

#preview-toolbar a {
text-decoration:none;
color:#a30;
}

#preview-toolbar a:hover {
text-decoration:underline;
color:#b30;
}
