/* CSS */

body { 
margin-left: 5%; 
margin-right: 5%; 
margin-top: 5%; 
margin-bottom: 5%; 
text-align: justify; 
font-family: Baskerville, Sabon, serif;
}

body.title {
text-align:center;
}

body.cover img {
max-width: 100%;
}

/* IMAGES */

img {
border-width:0;
}

img.right {
float:right;
margin: 1em 0em 1em 1em;
}

img.left {
float:left;
margin: 1em 1em 1em 0em;
}

img.standalone {
display:block;
margin:0.5em 0;
}

.header,
.footer {
font-size:70% !important;
text-align:center !important;
font-family:sans-serif !important;
color:#666666;
}

.header {
border-bottom: 1px dotted #FF0000;
margin-bottom:1em !important;
}

.footer {
margin-top:1em !important;
border-top: 1px dotted #FF0000;
}