#sitemap
{
float:left;
width:45%;
}

#map-latest
{
float:right;
width:45%;
}

ul.groups {
margin:1em 0;
padding:0;
}

ul.groups ul {
margin:0 0 0 1em;
padding:0 0 0 1em;
}

ul.groups li.group a {
padding:0;
margin:0;
border:solid 0px #fff;
background-color:#fff;
font-size:1.2em;
}

ul.groups li.group {
margin:1em 0;
}

ul.groups li.level1 a {
font-size:1.3em;
font-weight:bold;
}

ul.groups li.level1 {
margin-bottom:0.5em;
}

ul.topics li.topic a,
ul.galleries li.gallery a {
font-size:1em;
font-weight:bold;
margin-bottom: 0.5em;
}

ul.topics li.topic div,
ul.galleries li.gallery div,
ul.groups li.level1 div {
font-weight:normal;
font-size:0.9em;
}

ul.subtopics li.subtopic a {
font-weight:normal;
}
