/* MEDIA */

.media-video .video-box {
float:left;
}

.media-video .video-info {
margin-left:335px;
}

.media-video .video-info p.description {
font-style:italic;
}

.media-video .video-embed {
clear:left;
padding:1em 0;
}

.media-video .video-embed label {
font-weight:bold;
display:block;
margin-top:1em;
}

.media-video .video-embed input,
.media-video .video-embed textarea {
width:320px;
background-color:#eef;
}

.media-video .video-embed textarea {
height:7em;
}