/* PEOPLE */

#login-links, #verification-info
{
width:95%;
margin-left:2em;
}

#login-links li
{
margin:0.3em 0;
}

fieldset#security {
clear:left;
}

fieldset#security legend {
font-size:1.1em;
padding:0 0.5em;
font-weight:bold;
}

fieldset#security li {
padding:2px 0;
margin:0;
}

#user-details li#contact-options, #user-details li#data, #user-details li#password { margin-left:9.5em; } 

#user-details li 
{
margin:1em 0;
font-size:1em;
}
#user-details li p span.label {

width:6.5em; margin-right:1em; display:inline-block; text-align:right;
}

#user-params {
border-top:inset 1px #444444;
padding-top:1em;
margin:1em 0;
}

/* HISTORY */

#user-history
{
padding:1em;
}

#user-history h2 { 
margin: 1em 0 0 0;
font-size:1.1em;
}

#user-history ul.hitems {
margin:0;
padding-left:1em;
}

#user-history ul.hitems h3 {
font-weight:normal;
font-size:1em;
}

#user-history ul.hitems li {
margin-bottom:1em;
}

.hdate
{
font-size: 0.8em;
font-style:italic;
margin-left:-0.5em;
}

#people-contact .newsletter-info
{
font-size:0.8em;
margin-left:4em;
font-style:italic;
}