body { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000 !important; background-color: #fff !important; }

h1,h2,h3,h4,h5,h6 { text-transform: uppercase; font-weight: 900; }
h1 { font-size: 3.2em; line-height: 0.5937em; margin-bottom: 0.5937em; } 
h2 { font-size: 3em; line-height: 1em/*0.6333em*/; margin-top: 0.6333em; margin-bottom: 0.6333em; } 
h3 { font-size: 2.4em; line-height: 0.7916em; margin-bottom: 0.7916em; } 
h4 { font-size: 1.8em; line-height: 1.0555em; margin-bottom: 1.0555em; } 
h5 { font-size: 1.3em; line-height: 1.4615em; margin-bottom: 1.4615em; } 
h6 { font-size: 1.1em; line-height: 1.7272em; margin-bottom: 1.7272em; } 

a
{
text-decoration:none;
color:#000;
}

a img
{
border-width:0;
}

.banner,#preview-toolbar,#rss,#top-nav,.comments
{
display:none;
}

#main-navigation,
#footer,
#header,
#welcome,
#side-bar,
#breadcrumb
{
	display: none;
}

.ecommerce-order .breadcrumb { display: none; }
.ecommerce-order h3 { border-bottom: .1em solid #000; padding-bottom: 1em; font-size: 1.6em; }
.ecommerce-order dt { text-transform: uppercase; font-weight: 900; line-height: 1.0555em; margin-bottom: 1.0555em;}
.ecommerce-order dd { margin-left: 0; margin-bottom: .2em; line-height: 1.4615em; }
.ecommerce-order  #order-summary { width: 100%; clear: both; display:inline-block; display: block; }
.ecommerce-order #order-address, .ecommerce-order #order-date, .ecommerce-order #order-total, .ecommerce-order #order-status { font-size: 1em; float: left; margin-left: 5%; margin-right: 5%; width: 8em; height: 18em; }
.ecommerce-order #order-address { margin-left: 0; width: 11em; }
.ecommerce-order #order-status { margin-right: 0; }
.ecommerce-order  dl { margin-left: 0; }
.ecommerce-order #order-status { width: 5em; }
.ecommerce-order h5.title {  font-size: 1em; }
.ecommerce-order ul, .ecommerce-order ul li, .ecommerce-order li ul, .ecommerce-order li li { list-style-type: none; margin-left: 0; }
.ecommerce-order ul, .ecommerce-order ul ul { margin-left: -3%; }
.ecommerce-order li.order-item { margin-left: -3%; line-height: 3em; }
.ecommerce-order .header li { border-bottom: 1px solid #000; }
.ecommerce-order .footer li { text-transform: uppercase; font-weight: 900; }
.ecommerce-order .footer .price { border-top: 1px dashed #000; }
.ecommerce-order .order-item li { width: 15.65em; float: left; margin-left: 0; }
.ecommerce-order .order-item .quantity { width: 5em; margin-left: -3%; text-align: center; }
.ecommerce-order .order-item .description { width: 34.95em; }/*49.95*/
.ecommerce-order .order-item .price { width: 10em; text-align: right; }
.ecommerce-order .footer .description { margin-left: 3.65em; width: 34.92em; }
