/**** SUBTOPIC SUBTOPICS ****/

.article-content h1 { margin:0.6333em  0; }
.article-content .article-description{ font-size:1.3em; }

li.subtopic {
margin: 0.5em 1em;
padding:0 1em;

}

ul.subtopics
{
margin: 1em 0;
padding: 1em;
}

ul.subtopics li
{
padding: 5px;
margin-bottom: 5px;
border-left: solid 6px #ff0000;
}

ul.subtopics li a
{
font-weight: normal;
text-decoration: none;
}

ul.subtopics li a:hover
{
text-decoration: underline;
}


/* GALLERY ITEMS */

#side-bar ul.items li.gallery_thumb-item .caption
{
display:block;
margin:0;
padding:5px 5px 10px 5px;
/*border-bottom:1px solid #002A6A;*/
background: url("/images/custom/bg-container.png") repeat-y scroll -960px 0 transparent;
width: 196px;
}

ul.items li.gallery_thumb-item
{
margin-bottom: 1em;
}

ul.items li.gallery_thumb-item img
{
display:inline;
margin-right:1em;
}


.highslide-wrapper .highslide-caption .image-date, 
.highslide-wrapper .highslide-caption .source, 
.highslide-wrapper .highslide-caption .orig, 
.highslide-wrapper .highslide-caption .notes, 
.highslide-wrapper .highslide-caption .author,
.highslide-wrapper .highslide-caption .caption  {
font-size:0.8em;
margin:0.2em 0;
}

.highslide-wrapper .highslide-caption .orig, 
.highslide-wrapper .highslide-caption .notes {
border-top: dashed 1px #666;
padding:0.4em 0;
}

.highslide-wrapper .highslide-caption .image-close {
display:none;
}


#paypal-unsubscribe
{
font-size:0.9em;
margin-left:21%;
font-style:italic;
}

